source https://www.nuget.org/api/v2

nuget FSharp.Core
nuget Microsoft.ML.Probabilistic 0.3.1810.501
nuget Microsoft.ML.Probabilistic.Compiler 0.3.1810.501
nuget Microsoft.ML.Probabilistic.Learners 0.3.1810.501
nuget Microsoft.ML.Probabilistic.Visualizers.Windows 0.3.1810.501
nuget Microsoft.NET.Test.Sdk
nuget Microsoft.Research.Glo 
nuget Microsoft.Research.GloObject
nuget MSTest.TestAdapter
nuget MSTest.TestFramework 
